#container {
	margin: 20px;
	border: 1px solid black;
	height: 800px;
	width: 800px;
	display: flex;
	flex-wrap: wrap;
	overflow: clip;
}

.row {
	width: 100%;
	display: flex;
}

.square {
	box-sizing: border-box;
	display: flex;
	min-height: 8px;
	min-width: 8px;
	flex-grow: 1;
}


button {
	margin: 20px;
	height: 50px;
	width: 90px;
}
