#container {
	border: 1px solid black;
	height: 800px;
	width: 800px;
	display: flex;
}

.square {
	box-sizing: border-box;
	display: flex;
}

#grid {
	height: 800px;
	width: 800px;
	display: flex;
	flex-wrap: wrap;
	flex: 1 0 auto;
}

button {
	margin: 20px;
}
